<!DOCTYPE html>
<html>
    <head>
    </head>
    <body>
        <form action="" method="POST">
            {{form.email.label}}: {{form.email(placeholder='yourname@email.com')}}
            <br>
            {{form.depart.label}}: {{form.depart(placeholder='ATL')}}
            <br>
            {{form.dest.label}}: {{form.dest(placeholder='DEN')}}
            <br>
            {{form.dates.label}}: {{form.dates(placeholder='2018-03-01--2018-03-25')}}
            <br>
            <input type="submit" value="submit">
        </form>
    </body>
</html>